{% extends 'base.html' %}

{% block title %} Already have an account? {% endblock title %}

{% block content %}


<!-- If user already has an account, explain the process of logging in to user -->
<h1 class = "text-center"><pre>


Log In Here!

</h1></pre>
<hr class="rounded">
<h3 class = "text-center"><pre>

Have an account? Log In to use <span class="brand">Phown Book's™</span> features!</h3></pre>
<h6 class = "text-center"><pre>

Please fill out all fields below, then click <span class="confirm">"Submit"</span> to proceed!
</h6></pre>
<pre>

<hr class="rounded"></pre>

<form method="post">
    <!-- Authentication token -->
    {{ form.csrf_token }}

    <div class="form-group">
        <pre>
{{ form.username.label }}
{{ form.username(class = 'form-control', placeholder = 'Example: Username71') }}</pre>

        <pre>
{{ form.password.label }}
{{ form.password(class = 'form-control', placeholder = 'Example: Abc123') }}</pre>

        <div class="button_container">{{ form.submit(class = 'btn btn-success w-75 mt-3') }}</div>
    </div>
</form>


{% endblock content %}